# .NET Core
bin/
obj/
project.lock.json
project.fragment.lock.json
artifacts/

# Visual Studio
.vscode/
.vs/
*.user
*.suo
*.csproj.user
*.ncb
*.sdf
*.cache
*.dbmdl
*.bak

# Rider
.idea/

# OS-specific
.DS_Store
Thumbs.db

# Log files
*.log

# Backup files
*.bak

# Temporary files
*.tmp
